$highlight: #fcbf49;
$light: #c3c4c5;
$secondary-color: #f3f4f6;

$primary-color: #fcbf49;
// Width
$half-width: 50%;
$full-width: 100%;

// Fonts
$primary-font: 'Urbanist', sans-serif;

// Work card
$card-one: #eeecfa;
$card-two: #eeecfa;
$card-four: #fdeee9;

$list-item: #7c7d7f;

// Urbanserve Styles
$primary__dark: #21262b;
$primary__light: rgba(33, 38, 43, 0.7);
$primary__faded: rgba(33, 38, 43, 0.5);

$secondary: #0587ff;
$urbanserve_highlight: #4a00e0;

// Background Color
$bg__primary: #21262b;
$bg__secondary: #e5f2ff;
$bg__light: #e5e5e5;

$border: rgba(33, 38, 43, 0.1);
$danger: #df5c53;
$border__light: #e9e9ea;

$site__bg__main: #f7f9fb;
$site__border: #e9e9ea;

$urbanserve__light__blue: rgba(205, 231, 255, 1);
$urbanserve__boxshadow: 0px 8px 8px 8px rgba(33, 38, 43, 0.05);
$urbanserve__light: rgba(233, 233, 234, 1);
