.location-wrapper {
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f6f6f6;
  top: 70px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.8)), url("../../public/images/location-banner.jpeg");
  height: 552px; }

.location-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }
  .location-text h1 {
    font-size: 42px;
    padding-bottom: 1rem; }

.location-search {
  display: flex; }

.MuiAutocomplete-inputRoot {
  background: white; }

.location-result {
  background: white;
  width: 100vw;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
  top: 70px;
  bottom: 30px; }

.icon-submit:hover {
  cursor: pointer; }

@media screen and (min-width: 320px) {
  .location-wrapper {
    height: 352px; }
    .location-wrapper .location-text h1 {
      font-size: 18px; }
    .location-wrapper .location-text .location-logo img {
      width: 70%;
      padding-top: 6rem;
      padding-bottom: 1rem; }

  .location-result {
    width: 100vw; }
    .location-result .categoryGrid {
      text-align: center; }
      .location-result .categoryGrid .categoryRow {
        padding: 1rem; }
        .location-result .categoryGrid .categoryRow .categoryColumn {
          margin-bottom: 1rem; }
          .location-result .categoryGrid .categoryRow .categoryColumn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            cursor: pointer; }
          .location-result .categoryGrid .categoryRow .categoryColumn img {
            min-height: 32px;
            max-height: 32px; }
          .location-result .categoryGrid .categoryRow .categoryColumn h6 {
            font-family: Montserrat, sans-serif;
            font-size: 14px; }

  .autocomplete {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .location-wrapper .location-text h1 {
    font-size: 32px; }
  .location-wrapper .location-text .location-logo img {
    display: none;
    padding-top: 0rem;
    padding-bottom: 0rem; }

  .location-result {
    top: 65%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    position: absolute; }

  .location-bottom {
    padding-top: 15rem; }

  .autocomplete {
    width: 50%; } }
@media screen and (min-width: 1440px) {
  .location-wrapper {
    height: 552px; }
    .location-wrapper .location-text h1 {
      font-size: 42px; }

  .location-result {
    top: 80%;
    min-height: 24vh; }

  .location-bottom {
    padding-top: 8rem; } }
.ui.breadcrumb.site-breadcrumb-content {
  padding-bottom: 2.4rem; }
  .ui.breadcrumb.site-breadcrumb-content .site-breadcrumb-parent {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: lowercase;
    color: #2f4858; }
  .ui.breadcrumb.site-breadcrumb-content .site-breadcrumb-child {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: lowercase;
    color: #a7b2ba; }

@media screen and (min-width: 320px) {
  .ui.breadcrumb.site-breadcrumb-content {
    padding-left: 1.2rem; } }
@media screen and (min-width: 768px) {
  .ui.breadcrumb.site-breadcrumb-content {
    padding-left: 0rem; }

  .ui.breadcrumb .divider {
    padding: 0rem 1.2rem; } }
@media screen and (min-width: 1024px) {
  .ui.breadcrumb.site-breadcrumb-content .site-breadcrumb-parent {
    font-size: 1.4rem; }
  .ui.breadcrumb.site-breadcrumb-content .site-breadcrumb-child {
    font-size: 1.4rem;
    padding-left: 0.4rem; } }

/*# sourceMappingURL=location.css.map */
